.loginform {
  text-align: center;
  width: 30vw;
  height: 100vh;
  padding: 20px;
  padding-top: 156px;
}

.loginform_logo {
  object-fit: contain;
  height: 164px;
  width: 164px;
  margin-bottom: 48px;
}

.loginform_input {
  border: none;
  border-bottom: 1px solid lightgray;
  width: 60%;
  text-align: center;
  padding: 6px 4px;
  margin-bottom: 12px;
}
.loginform_button {
  border: none;
  padding: 6px 24px;
  background-color: #4b7bbe;
  color: white;
  border-radius: 24px;
  margin: 8px 0;
}
.loginform_text {
  color: #4b7bbe;
  margin: 8px 0 6px 0;
}

.loginform_socialmedia-icons {
  color: #4b7bbe;
  margin: 4px 4px;
}
